body {
	background: url('../grafika/g_tło.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.nag {
	animation-name: animate;
	animation-duration:2s;
	animation-iteration-count:infinite;
}

.link {
	text-decoration: none;
	color: #00EFFF
}

@keyframes animate {

0% { color:#22ff00; }

50% { color:#000000; }

100% { color:#22ff00; }

}