body {
	background: url('../grafika/error.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.nag {
	animation-name: animate;
	animation-duration:3s;
	animation-iteration-count:infinite;
}

.link {
	text-decoration: none;
	color: #00EFFF
}

@keyframes animate {

0% { color:#FF00FF; }

50% { color:#FF4D00; }

100% { color:#FF00FF; }

}